<footer class="footer">
  <div class="f-socia-links">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <div class="f-copy">&copy; airbnb private limited</div>
  <div class="f-a-links">
    <a href="/">Privacy</a>
    <a href="/">Terms</a>
  </div>
</footer>
